#about {
    position: relative;
    
}

.aboutContainer{
  height: calc(25vh - 4rem);
  width: 90vw;
  max-width: 55rem;
  background: white;
  border-radius: 3rem;
  margin: 0 auto;
  overflow: hidden;
}
.icon{
  width: 3rem;
}

/* .about-containers,
.about-details-container {
  display: flex;
}
.details-container {
  padding: 1rem;
  background: white;
  border-radius: 2rem;
  flex: 1;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  text-align: center;
}
.icon{
  width: min-content;
  height: min-content;
} */

  /* .about-details-container {
    justify-content: center;
    flex-direction: column;
  }
  
  .about-containers,
  .about-details-container {
    display: flex;
  }
  
  .arrow {
    position: absolute;
    right: -5rem;
    bottom: 2.5rem;
  }
  
  .section-container {
    gap: 4rem;
    height: 80%;
  }
  
   */